<h1><%= t '.registration' %></h1>

<br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group form-floating mb-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: "Email" %>
    <%= f.label :email %>
  </div>

  <div class="field form-group form-floating mb-3">
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder: "Mot de passe" %>
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> <%= t '.min_characters' %>)</em>
    <% end %><br />
  </div>

  <div class="field form-group form-floating mb-3">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder: "Mot de passe" %>
    <%= f.label :password_confirmation %><br />
  </div>

  <div class="actions">
    <%= f.submit t('.register'), class:"btn btn-success" %>
  </div>
<% end %>

<br>

<%= render "devise/shared/links" %>
