<div id="<%= dom_id equipe %>">
  <p>
    <strong>Nom equipe:</strong>
    <%= equipe.nom_equipe %>
  </p>

  <p>
    <strong>Nom capitaine:</strong>
    <%= equipe.nom_capitaine %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= equipe.telephone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= equipe.email %>
  </p>

</div>


