<%= form_with(model: equipe) do |form| %>
  <% if equipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(equipe.errors.count, "error") %> prohibited this equipe from being saved:</h2>

      <ul>
        <% equipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group form-floating mb-3 required">
    <%= form.text_field :nom_equipe, class:"form-control", placeholder:"Nom de l'équipe", :required => true, autofocus: true%>
    <%= form.label :nom_equipe, style: "display: block" %>
  </div>

  <div class="form-group form-floating mb-3">
    <%= form.text_field :nom_capitaine, class:"form-control", placeholder:"Nom du/de la capitaine"%>
    <%= form.label :nom_capitaine, style: "display: block" %>
  </div>

  <div class="form-group form-floating mb-3">
    <%= form.text_field :telephone, class:"form-control", placeholder:"Numéro de téléphone" %>
    <%= form.label :telephone, style: "display: block" %>
  </div>

  <div class="form-group form-floating mb-3">
    <%= form.text_field :email, type:"email", class:"form-control", placeholder:"Email de contact"%>
    <%= form.label :email, style: "display: block" %>
  </div>

  
<br>
  <div>
    <%= form.submit "Valider", class:"btn btn-outline-success" %>
  </div>
<% end %>

<script>
  $(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
</script>