<h1><%= t '.teams' %></h1>
<br>
<%= link_to "Test", test_equipes_path, class:"btn btn-outline-danger btn-sm"%>
<br>
<table class="table table-bordered table-hover table-striped">
  <thead class="table-danger">
    <tr>
      <th scope="col"><%= t '.team_name' %></th>
      <th scope="col"><%= t '.captain_name' %></th>
      <th scope="col"><%= t '.phone' %></th>
      <th scope="col"><%= t '.email' %></th>
      <th colspan="2"><%= t '.actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @equipes.order("id").each do |equipe| %>
      <tr>
        <th><%= equipe.nom_equipe %></th>
        <th><%= equipe.nom_capitaine %></th>
        <th><%= equipe.telephone %></th>
        <th><%= equipe.email %></th>
        <th><%= link_to t('.edit'), edit_equipe_path(equipe), class:"btn btn-outline-primary btn-sm" %></th>
        <th><%= button_to t('.delete'), equipe, method: :delete, class:"btn btn-outline-danger btn-sm", form: { data: { turbo_confirm: "Es-tu sûr de vouloir supprimer cette équipe ?" } } %></th>
      </tr>
    <% end %> 
  </tbody>
</table>
<br>
<%= link_to t('.add_team'), new_equipe_path, class:"btn btn-secondary" %>
<%= link_to t('.create_pools'), generate_poules_path, class:"btn btn-secondary" %>



